In [ ]:
# IT Academy - Data Science with Python
## Sprint 16: Web Scraping
### [Github Web Scraping](https://github.com/jesussantana/Web-Scraping)

[![forthebadge made-with-python](http://ForTheBadge.com/images/badges/made-with-python.svg)](https://www.python.org/)  
[![Made withJupyter](https://img.shields.io/badge/Made%20with-Jupyter-orange?style=for-the-badge&logo=Jupyter)](https://jupyter.org/try)  
[![wakatime](https://wakatime.com/badge/github/jesussantana/Web-Scraping.svg)](https://wakatime.com/badge/github/jesussantana/Web-Scraping)

### Exercise 1: 
  - Perform web scraping of a page on the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

In [13]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep

url = 'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&punto=indice'

def get_table(round, url=url):
    round_url = f'{url}/{round}'
    page = requests.get(round_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    rows = []
    for child in soup.find_all('table')[4].children:
        row = []
        for td in child:
            try:
                row.append(td.text.replace('\n', ''))
            except:
                continue
        if len(row) > 0:
            rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0])

    return df


for round in range(1, 2):
    table = get_table(round)
    table.to_csv(f'../data/raw/PL_tablematchday{round}.csv', index=False)
    sleep(np.random.randint(1, 10))

pd = get_table(1, url)

pd

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"138,5000","-2,40","142,2000","138,2000",30.749,"4.280,11",31/05/2021,17:05:55
1,ACERINOX,"11,7500","0,47","11,8350","11,7050",607.708,"7.146,93",31/05/2021,17:04:58
2,ACS,"25,5900","1,15","25,8600","25,3900",205.004,"5.264,81",31/05/2021,17:06:45
3,AENA,"144,2500","0,87","144,9500","142,7500",61.317,"8.810,67",31/05/2021,17:06:53
4,ALMIRALL,"14,0500","0,29","14,0800","13,8700",136.970,"1.917,72",31/05/2021,17:06:58
5,AMADEUS,"61,9600","-0,06","62,3600","61,7400",518.222,"32.077,76",31/05/2021,17:06:57
6,ARCELORMIT.,"26,9850","2,02","27,0450","26,5100",324.243,"8.718,60",31/05/2021,17:05:39
7,B.SANTANDER,"3,4360","-0,42","3,4600","3,4310",7.484.416,"25.776,22",31/05/2021,17:06:58
8,BA.SABADELL,"0,6264","-0,76","0,6384","0,6230",18.765.070,"11.817,23",31/05/2021,17:06:11
9,BANKINTER,"4,7000","0,43","4,7270","4,6620",1.580.482,"7.450,78",31/05/2021,17:05:14
10,BBVA,"5,1570","0,60","5,1720","5,1310",2.705.573,"13.942,36",31/05/2021,17:06:13
11,CAIXABANK,"2,8220","-0,67","2,8490","2,8140",2.580.163,"7.292,76",31/05/2021,17:06:24
12,CELLNEX,"49,2700","-1,08","49,9700","49,0700",1.259.691,"62.788,83",31/05/2021,17:06:51
13,CIE AUTOMOT.,"24,8800","1,30","24,9200","24,6000",60.874,"1.506,19",31/05/2021,17:02:50
14,ENAGAS,"19,2700","0,00","19,3850","19,2500",227.406,"4.394,57",31/05/2021,17:05:13
15,ENDESA,"22,3600","-5,45","23,2000","22,3500",2.364.314,"53.462,71",31/05/2021,17:06:54
16,FERROVIAL,"24,1000","0,54","24,2800","23,9400",305.325,"7.376,77",31/05/2021,17:06:43
17,FLUIDRA,"33,2000","1,84","33,5000","32,7000",173.436,"5.763,60",31/05/2021,17:02:50
18,GRIFOLS CL.A,"22,8800","0,13","23,0800","22,8300",121.836,"2.794,83",31/05/2021,17:05:43
19,IAG,"2,3770","0,72","2,3800","2,3520",4.343.394,"10.304,10",31/05/2021,17:05:47
20,IBERDROLA,"11,0500","-2,26","11,2150","11,0350",10.815.395,"120.951,03",31/05/2021,17:06:46
21,INDITEX,"31,7200","-0,63","31,9700","31,6500",461.076,"14.653,45",31/05/2021,17:06:22
22,INDRA A,"7,0300","-1,68","7,2050","7,0300",654.323,"4.648,79",31/05/2021,17:06:44
23,INM.COLONIAL,"9,1150","0,00","9,1750","9,0800",120.126,"1.095,15",31/05/2021,17:01:58
24,MAPFRE,"1,8690","-0,48","1,8945","1,8605",6.069.205,"11.415,99",31/05/2021,17:06:12
25,MELIA HOTELS,"6,9380","0,78","6,9780","6,8600",393.780,"2.724,27",31/05/2021,17:06:28
26,MERLIN,"9,5160","0,57","9,5500","9,4540",310.261,"2.947,30",31/05/2021,17:06:09
27,NATURGY,"21,5000","0,14","21,5300","21,4500",123.055,"2.644,98",31/05/2021,17:06:20
28,PHARMA MAR,"76,7800","0,31","77,4800","76,1800",54.908,"4.217,37",31/05/2021,17:06:52
29,R.E.C.,"16,4200","0,00","16,5600","16,3550",347.700,"5.721,75",31/05/2021,17:04:02
30,REPSOL,"11,0000","0,33","11,0100","10,9060",1.012.912,"11.110,59",31/05/2021,17:06:00
31,SIEMENS GAME,"26,8800","-0,85","27,2700","26,7400",166.911,"4.507,51",31/05/2021,17:04:49
32,SOLARIA,"15,8700","2,69","16,6600","15,3500",879.545,"14.208,16",31/05/2021,17:07:00
33,TELEFONICA,"4,0375","0,12","4,0845","4,0315",26.318.271,"106.835,69",31/05/2021,17:06:45
34,VISCOFAN,"57,9500","0,17","58,2500","57,7500",7.341,"425,52",31/05/2021,17:05:13