# IT Academy - Data Science with Python
## Sprint 16: Web Scraping (In Process)
### [Github Web Scraping](https://github.com/jesussantana/Web-Scraping)

[![forthebadge made-with-python](http://ForTheBadge.com/images/badges/made-with-python.svg)](https://www.python.org/)  
[![Made withJupyter](https://img.shields.io/badge/Made%20with-Jupyter-orange?style=for-the-badge&logo=Jupyter)](https://jupyter.org/try)  
[![wakatime](https://wakatime.com/badge/github/jesussantana/Web-Scraping.svg)](https://wakatime.com/badge/github/jesussantana/Web-Scraping)

In [1]:
import numpy as np
# ^^^ pyforest auto-imports - don't write above this line
import csv

from urllib.request import urlopen

from urllib.error import HTTPError

from urllib.error import URLError

from bs4 import BeautifulSoup

import requests

from time import sleep

In [2]:
url = 'https://www.bolsamadrid.es'

In [3]:
## Scraping page Handling HTTP exceptions

def scrap_page(url):
    try:
    
        html = requests.get(url)

    except HTTPError as e:

        print(e)

    except URLError:

        print("Server down or incorrect domain")
    
    else:
        soup = BeautifulSoup(html.content, 'html.parser')
    
        return soup

In [4]:
soup = scrap_page(url)

In [5]:
# search related links 

links = []

for link in soup.find_all('a', string='Acciones'):
    
    links.append(link.get('href'))

In [6]:
links

['/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000',
 '/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000']

In [7]:
new_url = url + links[0]

new_url

'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000'

In [8]:
scrap_url = new_url + '&punto=indice'

In [9]:
scrap_url

'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&punto=indice'

In [10]:
## Function to scrape the page table and retorn a DF, Handling HTTP exceptions

def get_table(round, url=url):
    
    round_url = f'{url}/{round}'
    
    # Call function to scrap page
    soup = scrap_page(round_url)
        
    
    # Extract columns & rows for the table
    rows = []
    
    for child in soup.find_all('table')[4].children:
        row = []
        
        for td in child:
            
            try:
                row.append(td.text.replace('\n', ''))
                
            except:
                continue
                
        if len(row) > 0:
            
            rows.append(row)
                
    #create FataFrame from the rows
    df = pd.DataFrame(rows[1:], columns=rows[0])

    return df

In [11]:
df = get_table(1, scrap_url)

In [12]:
df

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"127,7000","0,39","128,1000","127,2000",2.488,"317,46",29/06/2021,09:09:17
1,ACERINOX,"10,0250","0,71","10,0250","9,9380",34.782,"347,29",29/06/2021,09:09:20
2,ACS,"22,4300","0,49","22,4600","22,2700",45.436,"1.016,10",29/06/2021,09:09:42
3,AENA,"141,7000","-0,14","142,4000","140,9000",9.646,"1.362,91",29/06/2021,09:09:10
4,ALMIRALL,"14,9200","0,13","14,9200","14,8300",3.511,"52,22",29/06/2021,09:09:50
5,AMADEUS,"60,4200","-1,37","60,5600","58,5400",93.576,"5.570,34",29/06/2021,09:09:30
6,ARCELORMIT.,"25,8000","1,28","25,8000","25,5400",21.290,"546,04",29/06/2021,09:09:43
7,B.SANTANDER,"3,2860","0,72","3,2880","3,2635",811.120,"2.655,85",29/06/2021,09:09:46
8,BA.SABADELL,"0,5824","0,94","0,5848","0,5702",1.496.920,"861,38",29/06/2021,09:09:50
9,BANKINTER,"4,2940","0,66","4,2940","4,2440",22.232,"94,75",29/06/2021,09:08:40
10,BBVA,"5,2990","0,42","5,3030","5,2640",304.379,"1.606,85",29/06/2021,09:09:39
11,CAIXABANK,"2,6070","0,89","2,6070","2,5840",202.149,"523,54",29/06/2021,09:09:39
12,CELLNEX,"54,9800","0,99","55,0600","54,4600",16.641,"909,70",29/06/2021,09:09:37
13,CIE AUTOMOT.,"25,2400","1,04","25,3400","25,0400",7.863,"197,76",29/06/2021,09:09:23
14,ENAGAS,"19,7600","0,30","19,7650","19,7250",13.436,"265,24",29/06/2021,09:09:24
15,ENDESA,"20,9100","0,10","21,2800","20,8700",163.998,"3.465,48",29/06/2021,09:09:50
16,FERROVIAL,"25,2300","0,24","25,2600","25,0900",7.406,"186,40",29/06/2021,09:07:13
17,FLUIDRA,"33,7000","0,60","33,7500","33,4000",8.945,"300,48",29/06/2021,09:09:32
18,GRIFOLS CL.A,"22,8000","-0,18","22,8500","22,7000",12.722,"289,79",29/06/2021,09:09:05
19,IAG,"2,0450","-0,68","2,0670","2,0200",3.243.162,"6.635,01",29/06/2021,09:09:48
20,IBERDROLA,"10,3550","0,10","10,3600","10,3200",261.911,"2.706,72",29/06/2021,09:09:46
21,INDITEX,"30,3200","1,13","30,3200","30,0300",50.676,"1.527,80",29/06/2021,09:09:43
22,INDRA A,"7,6250","-0,07","7,6500","7,5650",28.869,"219,76",29/06/2021,09:07:24
23,INM.COLONIAL,"8,6000","0,00","8,6100","8,5300",12.084,"103,41",29/06/2021,09:05:31
24,MAPFRE,"1,7725","0,40","1,7725","1,7630",58.542,"103,29",29/06/2021,09:09:41
25,MELIA HOTELS,"6,2720","0,32","6,2800","6,1640",95.571,"595,10",29/06/2021,09:09:21
26,MERLIN,"8,7700","0,34","8,7980","8,7160",10.912,"95,43",29/06/2021,09:08:09
27,NATURGY,"21,8500","-0,23","21,8800","21,8300",8.125,"177,60",29/06/2021,09:09:39
28,PHARMA MAR,"79,1000","0,23","79,2600","78,7000",2.302,"181,65",29/06/2021,09:09:22
29,R.E.C.,"16,5900","0,45","16,5950","16,4950",18.618,"308,01",29/06/2021,09:08:21
30,REPSOL,"10,7460","0,60","10,7640","10,6460",89.385,"955,43",29/06/2021,09:09:35
31,SIEMENS GAME,"28,3000","1,65","28,3600","27,5100",85.843,"2.395,48",29/06/2021,09:09:50
32,SOLARIA,"15,9800","1,14","15,9800","15,8300",27.371,"435,88",29/06/2021,09:09:19
33,TELEFONICA,"3,8890","1,10","3,8910","3,8600",407.832,"1.580,73",29/06/2021,09:09:41
34,VISCOFAN,"59,0000","0,00","59,1000","59,0000",580,"34,25",29/06/2021,09:09:21

In [13]:
# Create CSV's recursively, calls in random periods for not to block the page
# Change range to select how many times

for round in range(1, 20):
    
    table = get_table(round, scrap_url)
    table.to_csv(f'../data/external/PL_tablematchday{round}.csv', index=False)
    sleep(np.random.randint(1, 10))

## Create a visualization with alls CSV's