# IT Academy - Data Science with Python
## Sprint 16: Web Scraping (In Process)
### [Github Web Scraping](https://github.com/jesussantana/Web-Scraping)

[![forthebadge made-with-python](http://ForTheBadge.com/images/badges/made-with-python.svg)](https://www.python.org/)  
[![Made withJupyter](https://img.shields.io/badge/Made%20with-Jupyter-orange?style=for-the-badge&logo=Jupyter)](https://jupyter.org/try)  
[![wakatime](https://wakatime.com/badge/github/jesussantana/Web-Scraping.svg)](https://wakatime.com/badge/github/jesussantana/Web-Scraping)

### Exercise 1: 
  - Perform web scraping of a page on the Madrid Stock Exchange (https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep

url = 'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000&punto=indice'

def get_table(round, url=url):
    round_url = f'{url}/{round}'
    page = requests.get(round_url)
    soup = BeautifulSoup(page.text, 'html.parser')

    rows = []
    for child in soup.find_all('table')[4].children:
        row = []
        for td in child:
            try:
                row.append(td.text.replace('\n', ''))
            except:
                continue
        if len(row) > 0:
            rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0])

    return df


for round in range(1, 2):
    table = get_table(round)
    table.to_csv(f'../data/raw/PL_tablematchday{round}.csv', index=False)
    sleep(np.random.randint(1, 10))

pd = get_table(1, url)

pd

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"138,4000","-2,47","142,2000","138,2000",33.994,"4.728,98",31/05/2021,17:15:02
1,ACERINOX,"11,7550","0,51","11,8350","11,7050",627.829,"7.383,31",31/05/2021,17:20:43
2,ACS,"25,5400","0,95","25,8600","25,3900",216.486,"5.558,24",31/05/2021,17:20:17
3,AENA,"144,1500","0,80","144,9500","142,7500",65.063,"9.350,70",31/05/2021,17:20:45
4,ALMIRALL,"14,0500","0,29","14,0800","13,8700",144.083,"2.017,66",31/05/2021,17:20:25
5,AMADEUS,"61,9200","-0,13","62,3600","61,7400",524.020,"32.436,64",31/05/2021,17:19:22
6,ARCELORMIT.,"27,0050","2,10","27,0450","26,5100",334.853,"9.005,07",31/05/2021,17:20:45
7,B.SANTANDER,"3,4385","-0,35","3,4600","3,4225",8.499.936,"29.259,63",31/05/2021,17:20:49
8,BA.SABADELL,"0,6268","-0,70","0,6384","0,6230",19.627.126,"12.356,96",31/05/2021,17:20:52
9,BANKINTER,"4,6990","0,41","4,7270","4,6620",1.616.756,"7.621,01",31/05/2021,17:20:52
10,BBVA,"5,1490","0,45","5,1720","5,1310",3.028.383,"15.603,01",31/05/2021,17:20:45
11,CAIXABANK,"2,8150","-0,92","2,8490","2,8100",3.220.516,"9.095,65",31/05/2021,17:20:51
12,CELLNEX,"49,2700","-1,08","49,9700","49,0700",1.274.075,"63.497,22",31/05/2021,17:20:47
13,CIE AUTOMOT.,"24,8800","1,30","24,9200","24,6000",63.070,"1.560,82",31/05/2021,17:20:48
14,ENAGAS,"19,2650","-0,03","19,3850","19,2500",232.282,"4.488,50",31/05/2021,17:20:29
15,ENDESA,"22,3800","-5,37","23,2000","22,3500",2.433.483,"55.010,86",31/05/2021,17:20:43
16,FERROVIAL,"24,0600","0,38","24,2800","23,9400",322.127,"7.781,82",31/05/2021,17:20:28
17,FLUIDRA,"33,1500","1,69","33,5000","32,7000",180.697,"6.004,25",31/05/2021,17:20:00
18,GRIFOLS CL.A,"22,9000","0,22","23,0800","22,8300",146.265,"3.353,45",31/05/2021,17:18:23
19,IAG,"2,3740","0,59","2,3800","2,3520",4.698.956,"11.148,38",31/05/2021,17:20:41
20,IBERDROLA,"11,0350","-2,39","11,2150","11,0350",11.137.583,"124.508,40",31/05/2021,17:20:51
21,INDITEX,"31,7400","-0,56","31,9700","31,6500",495.650,"15.749,56",31/05/2021,17:20:45
22,INDRA A,"7,0150","-1,89","7,2050","7,0050",808.593,"5.731,67",31/05/2021,17:20:45
23,INM.COLONIAL,"9,1150","0,00","9,1750","9,0800",126.508,"1.153,33",31/05/2021,17:15:29
24,MAPFRE,"1,8660","-0,64","1,8945","1,8605",6.117.110,"11.505,41",31/05/2021,17:20:04
25,MELIA HOTELS,"6,9280","0,64","6,9780","6,8600",416.967,"2.884,99",31/05/2021,17:20:18
26,MERLIN,"9,5100","0,51","9,5500","9,4540",318.474,"3.025,36",31/05/2021,17:20:15
27,NATURGY,"21,4900","0,09","21,5300","21,4500",153.945,"3.309,05",31/05/2021,17:20:22
28,PHARMA MAR,"76,9000","0,47","77,4800","76,1800",56.907,"4.370,89",31/05/2021,17:20:45
29,R.E.C.,"16,4100","-0,06","16,5600","16,3550",353.135,"5.810,96",31/05/2021,17:20:47
30,REPSOL,"10,9780","0,13","11,0100","10,9060",1.047.319,"11.488,41",31/05/2021,17:20:19
31,SIEMENS GAME,"26,9200","-0,70","27,2700","26,7400",170.196,"4.595,83",31/05/2021,17:20:00
32,SOLARIA,"15,9900","3,46","16,6600","15,3500",903.439,"14.589,04",31/05/2021,17:20:37
33,TELEFONICA,"4,0370","0,11","4,0845","4,0300",27.030.594,"109.709,83",31/05/2021,17:20:33
34,VISCOFAN,"57,9500","0,17","58,2500","57,7500",7.989,"463,06",31/05/2021,17:19:22